<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    </style>
    <title>Login </title>
</head>
<body>
    <h1>Welcome to the Login Up Page!</h1>
    <form action="/user/login" method ="post">
        <table>
        
        <tr>
        <td>email </td>
        <td>
            <input type="email" name="email" required>
        </td>
        </tr>
        <tr>
        <td> password</td>
            <td>
            <input type="password" name="password"  required > 
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center"> <button type ="submit"> Login</button> 
            </td> 
        </tr>
       
    </table>
    </form>
</body>
</html>
